<footer class="web-footer">
	<section class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-left">
					{% if footer_items -%}
					<div class="row">
						{% include "templates/includes/footer/footer_items.html" %}
					</div>
					{% endif %}
				</div>

				<div class="col-sm-6 text-right">
					{% block extension %}
						{% include "templates/includes/footer/footer_extension.html" %}
					{% endblock %}
				</div>
			</div>
	</section>
</footer>
