{% extends "templates/web.html" %}

{% block style %}
<style>
	{
		% include "templates/includes/login/login.css"%
	}
</style>
{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->
<div style='min-height: 360px'>
	<noscript>
		<div class="text-center my-5">
			<h4>{{ _("Javascript is disabled on your browser") }}</h4>
			<p class="text-muted">
				{{ _("You need to enable JavaScript for your app to work.") }}<br>{{ _("To enable it follow the instructions in the following link: {0}").format("<a href='https://enable-javascript.com/'>enable-javascript.com</a></p>") }}
		</div>
	</noscript>
<body>
	<div class="box">
		<div class="Right">

		</div>
		<div class="Left">

		</div>
	</body>
{% endblock %}

{% block script %}
<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}